# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Jupyter
*.ipynb

# OS files
.DS_Store
Thumbs.db

# Output folder
output/

# Model binaries (if you don’t want them versioned)
models/*.pkl
